@use "media";
@use "indents";
@use "colors";

/* Mobile Header */

.header__mobile {
  @media (min-width: calc(media.$md + 1px)) {
    display: none;
  }

  &__container {
    &__header {
      div {
        &:first-child {
          font-size: 1.5rem;
        }
      }
      display: flex;
      justify-content: space-between;
      padding-block: indents.$p20;
      padding-inline: indents.$p15;

      &__hamburger {
        width: 25px;
        height: 20px;
        position: absolute;
        top: indents.$p25;
        right: indents.$p15;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        &[aria-expanded="true"] {
          span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
          }

          span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
        }

        span {
          display: inline-block;
          position: absolute;
          left: 0;
          height: 3px;
          width: 100%;
          background: colors.$fontGrey;
          border-radius: 12px;
          opacity: 1;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2) {
            top: 7px;
          }
          &:nth-child(3) {
            top: 7px;
          }
          &:nth-child(4) {
            top: 14px;
          }
        }
      }
    }

    &__main {
      &[aria-expanded="true"] {
        height: 320px;
      }
      height: 0;
      overflow: hidden;
      transition: all 0.3s;
      background-color: rgba(colors.$bgLightBlue, 1);
      color: colors.$bgBlack;
      &__sub {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        padding-block: indents.$p25;

        &__icons {
          display: flex;
          justify-content: end;
          gap: indents.$p15;
          font-size: 1.4rem;
          padding-inline: indents.$p15;
          div {
            display: flex;
            cursor: pointer;
          }
        }
        &__list {
          padding-inline: indents.$p15;
          ul {
            display: flex;
            flex-direction: column;
            gap: indents.$p20;
            font-size: 1.3rem;
            font-weight: 500;
            list-style-type: none;
            li {
              padding-inline: indents.$p5;
              a {
                cursor: pointer;
                color: colors.$bgBlack;
                transition: all 0.3s;
                position: relative;
                &::after {
                  content: "";
                  background-color: colors.$bgBlack;
                  width: 100%;
                  height: 2px;
                  transform: scaleX(0);
                  position: absolute;
                  left: 0;
                  bottom: -4px;
                  transition: all 0.3s;
                }
                &:hover {
                  &::after {
                    transform: scaleX(1);
                  }
                }
              }
            }
          }
        }
      }

      &__banner {
        display: flex;
        flex-direction: column;
        padding-inline: indents.$p15;
        background-color: colors.$bgBlack;
        color: colors.$fontGrey;
        font-size: 0.9rem;
        a {
          padding-block: indents.$p10;
          border-bottom: 1px solid colors.$fontGrey;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
  &__navigation {
    background-color: colors.$bgGrey;
    padding-inline: indents.$p15;
    display: flex;
    flex-direction: column;
    nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: indents.$p15;
      padding-block: indents.$p15;
      font-size: 1rem;

      a {
        cursor: pointer;
        color: colors.$bgBlack;
        transition: all 0.3s;
        position: relative;
        &::after {
          content: "";
          background-color: colors.$bgBlack;
          width: 100%;
          height: 2px;
          transform: scaleX(0);
          position: absolute;
          left: 0;
          bottom: -4px;
          transition: all 0.3s;
        }
        &:hover {
          color: colors.$bgBlack;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
    &__search {
      display: flex;
      justify-content: end;
      margin-block: 15px;
      height: indents.$p30;

      div {
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid colors.$fontGrey;
        font-size: 1.3rem;
        &:focus-within {
          background-color: colors.$bgWhite;
          border-bottom: none;
          padding-left: indents.$p10;
          padding-block: indents.$p5;
          input {
            background-color: colors.$bgWhite;
            &::placeholder {
              color: transparent;
            }
          }
          span {
            color: colors.$bgBlack;
          }
        }

        span {
          color: colors.$fontGrey;
          label {
            display: flex;
          }
        }

        input {
          &:focus-visible {
            width: 15.625rem; //250px
          }
          width: 12.5rem; //200px
          height: 100%;
          transition: width 0.2s;
          outline: none;
          border: none;
          background-color: colors.$bgGrey;
        }
      }
    }
  }
}

/* Computer Header */

.header__computer {
  @media (max-width: media.$md) {
    display: none;
  }

  &__banner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-block: indents.$p10;
    padding-inline: indents.$p50;
    gap: indents.$p15;
    background-color: colors.$bgBlack;
    font-size: 0.9rem;
    a {
      text-align: center;
      text-decoration: none;
      color: colors.$fontGrey;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: indents.$p10;
    padding-inline: indents.$p25;
    font-size: 1.5rem;
    &__category {
      ul {
        display: flex;
        gap: indents.$p20;
        list-style-type: none;
        a {
          cursor: pointer;
          color: colors.$fontGrey;
          transition: all 0.3s;
          position: relative;
          font-weight: 700;
          &::after {
            content: "";
            background-color: colors.$bgBlack;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            position: absolute;
            left: 0;
            bottom: -4px;
            transition: all 0.3s;
          }
          &:hover {
            color: colors.$bgBlack;
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    &__logo {
      font-size: 2rem;
    }
    &__icons {
      display: flex;
      gap: indents.$p20;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: indents.$p50;
    padding-inline: indents.$p15;
    background-color: colors.$bgGrey;
    min-height: indents.$p50;
    nav {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.9rem;
      transition: flex-wrap 1s;
      height: fit-content;

      a {
        cursor: pointer;
        color: colors.$bgBlack;
        transition: all 0.3s;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        padding-inline: indents.$p10;
        padding-block: indents.$p15;
        &::after {
          content: "";
          background-color: colors.$bgBlack;
          width: 100%;
          height: 2px;
          transform: scaleX(0);
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 0.3s;
        }
        &:hover {
          color: colors.$bgBlack;
          background-color: colors.$fontGrey;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
    &__search {
      div {
        display: flex;
        align-items: center;
        gap: indents.$p10;
        border-bottom: 1px solid colors.$fontGrey;
        font-size: 1.3rem;

        &:focus-within {
          background-color: colors.$bgWhite;
          border-bottom: none;
          padding-left: indents.$p10;
          input {
            background-color: colors.$bgWhite;
            &::placeholder {
              color: transparent;
            }
          }
          span {
            color: colors.$bgBlack;
          }
        }

        span {
          color: colors.$fontGrey;
          label {
            display: flex;
          }
        }

        input {
          &:focus {
            width: 18.75rem; //300px
          }
          width: min(15.625rem); //250px
          transition: width 0.2s;
          outline: none;
          border: none;
          background-color: colors.$bgGrey;
          padding-block: indents.$p10;
        }
      }
    }
  }
}
